body {
    background-color: white;
    height: 100vh;
}

p, label, h1, h2, h3, h4, h5, h6 {
    color: #323232;
}

@media only screen and (max-width: 600px) {
    header.experiencefragment img.cmp-image__image {
        width: 30%;
    }

    a {
        color: #2020e0 !important;
    }
}