@text-color: #000000;
@link-text-color: #005a65;
@link-text-color-hover: #008392;
@link-text-color-visited: #643f5d;

body {
    background-color: white;
    height: 100%;
}

p, label, h1, h2, h3, h4, h5, h6 {
    color: @text-color;
}

a {
    color: @link-text-color;

    &:hover {
        color: @link-text-color-hover;
    }

    &:visited {
        color: @link-text-color-visited;
    }
}
